<div id="perspective" class="perspective effect-moveleft">
    <div class="container">
        <div class="wrapper">
          <div class="text-right">
            <button class="btn" id="showMenu">Show Menu</button>
          </div>
            <div class="main clearfix" ui-view>

            </div>
        </div>
        <!-- /container -->
    </div>
    <nav class="outer-nav right vertical">
        <a ui-sref="app.home"><i class="pe-7s-home"></i>Home</a>
        <a ui-sref="app.base.dashboard"><i class="pe-7s-calculator"></i>Starship Stop Calculator</a>
    </nav>
</div>
