// @import "../fonts/fontawesome/font-awesome.min";
// @import "../fonts/linecons/linecons";
// @import "../fonts/flaticons/flaticon";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

//icons
@import "../fonts/linecons/flaticon";
@import "../fonts/stroke7/pe-icon-7-stroke"
