.stops-required {
    color: #333;
    background: rgba(52,152,219 ,0.25);

    &.bad {
        background: rgba(231,76,60 ,0.5);
    }

    &.good {
        background: rgba(39,174,96 ,0.5);
    }
}
