.logo {
	display: inline-block;
	width: 140px;
	height: 53px;
	background-image: url("assets/img/logo.svg");
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.logo__text {
	font-size: 0.65em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	margin: 0;
	padding: 0 0 0.6em;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.95);
	margin-top: -3px;
}

.block {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #333;
	padding: 0 15px;

	.block-content {
		position: relative;
		padding: 0 5%;
		margin: 0 auto;
		max-width: 600px;

		.block-header {
			margin-top: 60px;
		}

		.block-body {
			margin-top: 40px;

			h1 {
				font-size: 40px;
				line-height: 1.4;
				font-weight: 300;
				color: #fff;
			}

			p {
				color: #A4ABB8;
				margin: 0 auto 20px;
				line-height: 1.6;
			}
		}

		.block-footer {
			display: none;
		}
	}

	.block-media {
		flex-grow: 1;
		margin-top: 40px;
		padding-bottom: 50px;

		.preview-video {
			max-height: 90vh;
			width: 90%;
			align-self: center;
			border-radius: 4px;
			overflow: hidden;
			background-color: #202631;
		}
	}
}
@media (min-width: 600px) {
	.block {
		padding: 0 30px;
	}

	.block-media {
		margin-top: 60px;
	}
}
@media (max-width: 1100px) {
	.block-media {
		display: none;
	}
}
@media (min-width: 1100px) {
	.block {
		flex-direction: row;
		justify-content: center;

		.block-content {
			margin-top: 50px;
			display: flex;
			align-self: center;
			flex-direction: column;
			flex-basis: 45%;
			max-width: 700px;
			margin-top: 0;
			justify-content: center;

			&:after {
				position: absolute;
			}

			.block-header {
				margin-top: 50px;
				margin-bottom: 50px;
			}

			.block-body {
				margin-top: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-self: center;
			}

			.block-footer {
				display: block;
				margin-top: 50px;
				margin-bottom: 50px;
				font-size: 13px;
				color: #555D6C;

				.preview-video {
					max-width: 85%;
				}

				a {
					color: #555D6C;
				}
			}
		}

		.block-media {
			margin-top: 0;
			padding-bottom: 0;
			display: flex;
			justify-content: center;
			flex-direction: column;
			flex-basis: 55%;
		}
	}
}
/*SVG Animation styles*/
svg {
	pointer-events: none;
}

.drawings {
	position: relative;
	max-height: 600px;
}

.illustration,
.line-drawing {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.line-drawing path {
	fill: none;
	stroke: white;
	stroke-width: 1;
}

path.line-round {
	stroke-linecap: round;
}

path.stroke-medium {
	stroke-width: 1;
}

path.stroke-thin {
	stroke-width: 1;
}
