/*
    Flaticon icon font: Flaticon
    Creation date: 10/08/2016 11:11
    */

@font-face {
    font-family: "Flaticon";
    src: url("./assets/fonts/linecons/Flaticon.eot");
    src: url("./assets/fonts/linecons/Flaticon.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/linecons/Flaticon.woff") format("woff"), url("./assets/fonts/linecons/Flaticon.ttf") format("truetype"), url("./assets/fonts/linecons/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./assets/fonts/linecons/Flaticon.svg#Flaticon") format("svg");
    }
}

.flaticon--primary {
    color: #3c495a;
    font-size: 16px;
}

.flaticon--danger {
    color: #dd3636;
    font-size: 16px;
}

.flaticon--success {
    color: #8DC63F;
}

.flaticon--big {
    font-size: 30px;
}

.flaticon--small {
    font-size: 12px;
}


.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

 .flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-bars:before { content: "\f102"; }
.flaticon-bell:before { content: "\f103"; }
.flaticon-business:before { content: "\f104"; }
.flaticon-checked:before { content: "\f105"; }
.flaticon-coding:before { content: "\f106"; }
.flaticon-construction:before { content: "\f107"; }
.flaticon-construction-1:before { content: "\f108"; }
.flaticon-cross-out:before { content: "\f109"; }
.flaticon-delete:before { content: "\f10a"; }
.flaticon-double-king-size-bed:before { content: "\f10b"; }
.flaticon-down-chevron:before { content: "\f10c"; }
.flaticon-draw:before { content: "\f10d"; }
.flaticon-edit:before { content: "\f10e"; }
.flaticon-home:before { content: "\f10f"; }
.flaticon-interface:before { content: "\f110"; }
.flaticon-internet:before { content: "\f111"; }
.flaticon-key:before { content: "\f112"; }
.flaticon-laptop:before { content: "\f113"; }
.flaticon-locked:before { content: "\f114"; }
.flaticon-logout:before { content: "\f115"; }
.flaticon-magnifying-glass:before { content: "\f116"; }
.flaticon-mail:before { content: "\f117"; }
.flaticon-music:before { content: "\f118"; }
.flaticon-network:before { content: "\f119"; }
.flaticon-padlock:before { content: "\f11a"; }
.flaticon-paper-plane:before { content: "\f11b"; }
.flaticon-people:before { content: "\f11c"; }
.flaticon-photo:before { content: "\f11d"; }
.flaticon-photo-camera:before { content: "\f11e"; }
.flaticon-profile:before { content: "\f11f"; }
.flaticon-profile-1:before { content: "\f120"; }
.flaticon-profile-2:before { content: "\f121"; }
.flaticon-prohibition:before { content: "\f122"; }
.flaticon-restaurant:before { content: "\f123"; }
.flaticon-search:before { content: "\f124"; }
.flaticon-settings:before { content: "\f125"; }
.flaticon-signs:before { content: "\f126"; }
.flaticon-sky:before { content: "\f127"; }
.flaticon-social-1:before { content: "\f128"; }
.flaticon-social-2:before { content: "\f129"; }
.flaticon-social-3:before { content: "\f12a"; }
.flaticon-social-4:before { content: "\f12b"; }
.flaticon-social-5:before { content: "\f12c"; }
.flaticon-tax:before { content: "\f12d"; }
.flaticon-technology:before { content: "\f12e"; }
.flaticon-time:before { content: "\f12f"; }
.flaticon-time-left:before { content: "\f130"; }
.flaticon-unlocked:before { content: "\f131"; }
.flaticon-user:before { content: "\f132"; }

    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-bars: "\f102";
    $font-Flaticon-bell: "\f103";
    $font-Flaticon-business: "\f104";
    $font-Flaticon-checked: "\f105";
    $font-Flaticon-coding: "\f106";
    $font-Flaticon-construction: "\f107";
    $font-Flaticon-construction-1: "\f108";
    $font-Flaticon-cross-out: "\f109";
    $font-Flaticon-delete: "\f10a";
    $font-Flaticon-double-king-size-bed: "\f10b";
    $font-Flaticon-down-chevron: "\f10c";
    $font-Flaticon-draw: "\f10d";
    $font-Flaticon-edit: "\f10e";
    $font-Flaticon-home: "\f10f";
    $font-Flaticon-interface: "\f110";
    $font-Flaticon-internet: "\f111";
    $font-Flaticon-key: "\f112";
    $font-Flaticon-laptop: "\f113";
    $font-Flaticon-locked: "\f114";
    $font-Flaticon-logout: "\f115";
    $font-Flaticon-magnifying-glass: "\f116";
    $font-Flaticon-mail: "\f117";
    $font-Flaticon-music: "\f118";
    $font-Flaticon-network: "\f119";
    $font-Flaticon-padlock: "\f11a";
    $font-Flaticon-paper-plane: "\f11b";
    $font-Flaticon-people: "\f11c";
    $font-Flaticon-photo: "\f11d";
    $font-Flaticon-photo-camera: "\f11e";
    $font-Flaticon-profile: "\f11f";
    $font-Flaticon-profile-1: "\f120";
    $font-Flaticon-profile-2: "\f121";
    $font-Flaticon-prohibition: "\f122";
    $font-Flaticon-restaurant: "\f123";
    $font-Flaticon-search: "\f124";
    $font-Flaticon-settings: "\f125";
    $font-Flaticon-signs: "\f126";
    $font-Flaticon-sky: "\f127";
    $font-Flaticon-social-1: "\f128";
    $font-Flaticon-social-2: "\f129";
    $font-Flaticon-social-3: "\f12a";
    $font-Flaticon-social-4: "\f12b";
    $font-Flaticon-social-5: "\f12c";
    $font-Flaticon-tax: "\f12d";
    $font-Flaticon-technology: "\f12e";
    $font-Flaticon-time: "\f12f";
    $font-Flaticon-time-left: "\f130";
    $font-Flaticon-unlocked: "\f131";
    $font-Flaticon-user: "\f132";
