<div>
    <label>Distance</label>
    <input placeholder="Distance Required" type="text" ng-model="vm.dom.distance" />
    <label>Search Starships</label>
    <input placeholder="Search Starships" type="text" ng-model="vm.dom.starshipsSearch" />
</div>
<table class="minima-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Speed (MGLT)</th>
            <th>Consumables</th>
            <th>Stops Required</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.dom.starships | filter: vm.dom.starshipsSearch">
            <td ng-bind="item.name"></td>
            <td ng-bind="item.model"></td>
            <td class="text-right" ng-bind="item.MGLT"></td>
            <td class="text-right" ng-bind="item.consumables"></td>
            <td class="text-center stops-required">
                {{ vm.dom.calculateStops(item.MGLT, item.consumables, vm.dom.distance)}}
            </td>
        </tr>
    </tbody>
</table>
