.btn {
    font-weight: normal;
    display: inline-block;
    padding: 10px 24px 12px;
    font-size: 12px;
    border-radius: 100px;
    letter-spacing: -.02em;
    transition: all 0.2s ease;
    position: relative;
    border: none;
    color: #fff;
    background: #ed8151;
    text-transform:capitalize;
    // background-image: linear-gradient(225deg, #6556ec 0%, #34afff 100%);
    // background-image: linear-gradient(225deg, #06bebd 0%, #b7ce63 100%);
    text-decoration: none;
    margin: 5px;
}

.btn-ghost {
    background: rgba(255, 255, 255, 0.2);
}
@media (min-width: 600px) {
    .btn {
        padding: 12px 30px 14px;
    }
}
