.minima-table {
    color: #3c495a;
    width: 100%;
    margin-bottom: 42px;
    margin-top: 42px;
    font-size: 13px;

    &.minima-table--fixed-width {
        @media screen and (max-width: 1000px) {
            width: 900px;
        }
    }

    tbody {
        tr {
            border-top: 1px solid #e2e9f0;
            transition: all 0.5s;

            &:hover {
                background: rgba(206,217,238,0.41);
            }

            th {
                padding: $spacing-small 5px;
            }

            td {
                padding: $spacing-small;
                font-size: 13px;
                font-weight: 500;
                text-align: left;

                &.text-right {
                    text-align: right;
                }
                &.text-center {
                    text-align: center;
                }
            }

            td {
                input {
                    border: 1px solid rgba(206,217,238,0.89);
                    padding: 5px;
                    border-radius: 4px;
                    transition: all 0.4s ease;

                    &:active,
                    &:focus {
                        outline: none;
                        box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);
                    }
                }
            }
        }
    }
}
